  $primary-font : 'Lato', sans-serif;
  $secondary-font : 'Poppins', sans-serif;
  $primary-headfoot-color : #082B59;
  $secondary-headfoot-color : #d98555;
  $border_btn-color : #59331d;
  $bkgd-color : #f2f2f2;
  $radius : 10px;
  $std-space: 1rem;
  $std-fontsize: 1rem;
  $about-leftclm-ratio: 73%;
  $contact-leftclm-ratio: 50%;
  $link-hover-color:#d98555;